/* CSS for the API documentation */
.property-name {width:15%;}
.property-type {width:10%;}
.property-description {width:50%;}
.api-method {width:35%;}
.api-description {width:65%;}
.output-name {width:20%;}
.output-description {width:40%;}
.output-scores {width:40%;}

.container-fluid.api {margin-top: 50px;}

.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #eed3d7;
}
.bs-callout-danger h4 {
    color: #b94a48;
}
.bs-callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc;
}
.bs-callout-warning h4 {
    color: #c09853;
}

