name: ecodata build

on:
  push:
    branches:
      - dev
      - master
      - feature/**
      - hotfix/**
      - release/**

env:
  TZ: Australia/Canberra

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Install and start elasticsearch
        run: |
          curl https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.17.29-amd64.deb -o elasticsearch.deb
          sudo dpkg -i --force-confnew elasticsearch.deb
          sudo chown -R elasticsearch:elasticsearch /etc/default/elasticsearch
          sudo sh -c 'echo ES_JAVA_OPTS=\"-Xmx1g -Xms1g\" >> /etc/default/elasticsearch'
          sudo service elasticsearch restart

      - name: Install and start mongodb
        uses: supercharge/mongodb-github-action@90004df786821b6308fb02299e5835d0dae05d0d #1.12.0
        with:
          mongodb-version: '8.0'

      - name: Build and run jacoco coverage report with Gradle
        run: ./gradlew -PenableJacoco=true jacocoTestCoverageVerification

      - name: Clean to remove clover instrumentation
        run: ./gradlew clean

      - name: Publish the JAR to the repository
        run: ./gradlew publish
        env:
          TRAVIS_DEPLOY_USERNAME: ${{secrets.DEPLOY_USERNAME}}
          TRAVIS_DEPLOY_PASSWORD: ${{secrets.DEPLOY_PASSWORD}}
